---
layout: default
---
<div class="home">

  <h1 class="page-heading">2019 Teaching</h1>  
  
  <article class="teaching" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="teaching-header">
    {% if page.external-url %}
      <h1 class="teaching-title" itemprop="name headline"><a href="{{ page.external-url }}">{{ page.title | escape }} &rarr;</a></h1>
    {% else %}
      <h1 class="teaching-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% endif %}
    <p class="teaching-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.categories != empty or page.tags != empty %}{% include category_links.html categories=page.categories tags=page.tags %}{% endif %}</p>
  </header>

  <div class="teaching-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.comments == true and page.comments != false %}
    <div class="teaching-comments" itemprop="comment">
      {% include custom_comments_provider.html %}
    </div>
  {% endif %}
  
  </article>

</div>
